#block-uw-whos-online-uw-online h3 {
  font-size: 15px;
  margin: 0 0 0 -5px;
}

#block-uw-whos-online-uw-online span {
  display: none;
}

#block-uw-whos-online-uw-online span:last-child {
  display: inline;
  font-size: 80%;
  font-weight: bold;
}

#uw_privileged, #uw_other {
  margin-bottom: 10px
}

.js #block-uw-whos-online-uw-online span {
  display: inline;
}

.js #block-uw-whos-online-uw-online button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

.js #block-uw-whos-online-uw-online button:focus {
  border-bottom: 1px dotted black;
  margin-bottom: -1px;
}
